@using System.Collections
<script type="text/javascript">
    $(document).ready(function() {
        $('#moreBooks').click(function() {
            $.get("@Url.Action("ListBooks")", {
                    
                }, function(data) {
                    $('#bookBody').append(data);
                });
        });

        $('#firstSelected').change(function() {
            var value = $('#firstSelected').val();

            var secondValue = $('#secondSelected').val();

            $.ajax({
                type: "GET",
                url: '@Url.Action("ListBooks")',
                data: { _firstSelection: value, _secondSelection: secondValue },
                success: function(data) {
                    $('#bookBody').html(data);
                }
            });
        });

        $('#secondSelected').change(function() {
            var firstValue = $('#firstSelected').val();
            var secondValue = $('#secondSelected').val();

            $.ajax({
                type: "GET",
                url: '@Url.Action("ListBooks")',
                data: { _firstSelection: firstValue, _secondSelection: secondValue },
                success: function(data) {
                    $('#bookBody').html(data);
                }
            });
        });

    });

 </script>

@{
    ViewBag.Title = "Home Page";
}
   
@using (Html.BeginForm("RandomMode", "Home", FormMethod.Get))
{
    <div style="line-height:60px;">
        <div class="float-left">
            @Html.DropDownList("firstSelection", new SelectList((IEnumerable)ViewData["firstSelection"], "Value", "Text"), new { @id = "firstSelected" })
            Par: @Html.DropDownList("secondSelection", new SelectList((IEnumerable)ViewData["secondSelection"], "Value", "Text"), new { @id = "secondSelected" })    
        </div>
        <div class="float-right">
            <button type="submit" class="float-right"><img src="~/Content/randomIcon.png" alt="random mode"/></button>            
        </div>
    </div>
}

@using (Html.BeginForm())
{  
    <div id="bookBody">
        @{
            //Html.RenderAction("ListBooks", "Home");
        }
    </div>
    <a href="javascript:void(0);" id="moreBooks">Plus!</a>    
}