@using System.Collections
<script type="text/javascript">
    $(document).ready(function() {
        $('#moreBooks').click(function() {
            $.get("@Url.Action("ListBooks")", {
                    
                }, function(data) {
                    $('#bookBody').append(data);
                });
        });

        $('#filtrer').click(function() {
            var value = $('#firstSelected').val();

            var secondValue = $('#secondSelected').val();

            var thirdValue = $('#thirdSelected').val();
            
            $.ajax({
                type: "GET",
                url: '@Url.Action("ListBooks")',
                data: { firstSelection: value, secondSelection: secondValue, thirdSelection: thirdValue },
                success: function (data) {
                    $('#bookBody').html(data);
                }
            });
        });

    });
 </script>

@{
    ViewBag.Title = "Home Page";
}
   
@using (Html.BeginForm("RandomMode", "Home", FormMethod.Get))
{
    <div >
        <div style="line-height: 40px; text-align: center; margin-left: auto; margin-right: auto;">
            Mode: @Html.DropDownList("firstSelection", new SelectList((IEnumerable)ViewData["firstSelection"], "Value", "Text"), "", new { @id = "firstSelected" })
            Date: @Html.DropDownList("secondSelection", new SelectList((IEnumerable)ViewData["secondSelection"], "Value", "Text"),"", new { @id = "secondSelected" })    
            Autre: @Html.DropDownList("thirdSelection", new SelectList((IEnumerable)ViewData["thirdSelection"], "Value", "Text"), "",new { @id = "thirdSelected" })    
            <input type="button" id="filtrer" value="Go" />
            <button type="submit" class="float-right"style="margin-top: 1%"><img src="~/Images/r-icon.png" alt="random mode"/></button>            
        </div>
    </div>
}

@using (Html.BeginForm())
{  
    <div class="clear">
        <div id="bookBody">
            
            @{
                Html.RenderAction("ListBooks", "Home");
            }
        </div>
        <div class="clear">
            <a href="javascript:void(0);" id="moreBooks" style="text-align: center; margin-left: auto; vertical-align: middle; ">Plus!</a>        
            <a href="#bookBody" style="text-align: center; margin-left: auto; vertical-align: middle; ">Haut</a>
        </div> 
    </div>
}